body {
    font-family: 'Arial', sans-serif;
    background-color: #a3c5f2; /* Light Lavender Background */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p   
    {
        padding-left: 50px;
        padding-right: 50px;
    }

.letter-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Adjust the width as needed */
}

.title {
    text-align: center;
    color: #fb6a98; /* Light Coral Pink Title Color */
}

.letter-content {
    margin-top: 20px;
    color: #333;
}

.closing {
    text-align: center;
    color: #77b0f7; /* Green Closing Color */
}
